* {
  margin: 0;
  padding: 0;
}
input,
input[type='button'],
button {
  -webkit-appearance: none;
}
a,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
div,
a,
img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
}
.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99;
  display: none;
}
.clearFloat {
  clear: both;
}
.white {
  color: white;
}
.center {
  text-align: center;
}
.messageBox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.72);
  color: white;
  padding: 0.2rem;
  border-radius: 0.09rem;
  font-size: 0.28rem;
  z-index: 999;
}
body {
  background: url(../img/body-bg.png) #C70529 repeat-y;
  background-size: 100% auto;
  -webkit-overflow-scrolling: touch;
}
#index {
  width: 100%;
  height: 100%;
  background: url(../img/index-bg.png) no-repeat;
  background-size: 100% auto;
}
#index .fill-information {
  display: block;
}
#index .fill-information section {
  width: 5.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../img/body-bg.png) #C70529 repeat-y;
  background-size: 7.5rem auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 0.1rem;
  padding: 0.55rem;
  box-sizing: border-box;
}
#index .fill-information section h2 {
  text-align: center;
  color: white;
  font-size: 0.31rem;
  letter-spacing: 1px;
  margin-bottom: 0.55rem;
}
#index .fill-information section form input {
  width: 100%;
  border-radius: 0.1rem;
  padding: 0 0.3rem;
  height: 0.7rem;
  box-sizing: border-box;
  outline: none;
  font-size: 0.28rem;
  border: none;
  margin-bottom: 0.3rem;
}
#index .fill-information section form input[type='button'] {
  color: #C70529;
  background: #FFDFBA;
}
#index .fill-information section p {
  text-align: center;
  color: #E4A5AB;
  font-size: 0.25rem;
}
#index .rule-btn {
  padding: 0.3rem 0.3rem 0 0;
  box-sizing: border-box;
}
#index .rule-btn a {
  float: right;
  display: inline-block;
  line-height: 0.55rem;
  border: 2px solid #FDB200;
  background: #FFDFBA;
  color: #C70529;
  font-size: 0.27rem;
  font-weight: 600;
  border-radius: 0.3rem;
  padding: 0 0.4rem;
}
#index .rule-btn .rule section {
  width: 6.88rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../img/body-bg.png) #C70529 repeat-y;
  background-size: 100% auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 0.1rem;
  padding: 0 0.6rem;
  box-sizing: border-box;
}
#index .rule-btn .rule section .lots-title {
  text-align: center;
  margin: 0.3rem auto -0.1rem;
}
#index .rule-btn .rule section .lots-title span {
  font-size: 0.35rem;
  color: #C70529;
  font-weight: 600;
  display: inline-block;
  height: 0.8rem;
  line-height: 0.78rem;
  width: 0.8rem;
  background: #FFDFBA;
  border-radius: 50%;
  margin: 0 -0.15rem;
  border: 2px solid #FFC04F;
  position: relative;
}
#index .rule-btn .rule section .lots-title span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: attr(data-txt);
  border-radius: 50%;
  background: #FFDFBA;
  z-index: 6;
}
#index .rule-btn .rule section .rule-list {
  max-height: 8.5rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#index .rule-btn .rule section .rule-list h5 {
  color: #FFD016;
  margin: 0.4rem 0 0.1rem 0;
  font-size: 0.28rem;
}
#index .rule-btn .rule section .rule-list p {
  font-size: 0.27rem;
  text-align: justify;
  color: white;
  border-bottom: 1px solid #EE8944;
  line-height: 0.45rem;
  padding-bottom: 0.1rem;
  margin-bottom: 0.1rem;
}
#index .rule-btn .rule section .rule-list .prize {
  text-align: center;
}
#index .rule-btn .rule section .rule-list .prize span:nth-of-type(1) {
  float: left;
}
#index .rule-btn .rule section .rule-list .prize span:nth-of-type(3) {
  float: right;
}
#index .rule-btn .rule section .rule-list aside {
  text-align: center;
  color: #FFD016;
  font-size: 0.27rem;
  margin: 0.3rem 0;
}
#index .rule-btn .rule section .cancel {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  display: inline-block;
  width: 0.45rem;
  height: 0.45rem;
  background: url("../img/cancel-icon.png") no-repeat;
  background-size: 100% 100%;
}
#index .drum {
  position: relative;
  margin-top: 3rem;
}
#index .drum .drum-img {
  width: 5.18rem;
  height: 6.57rem;
  margin: 0 auto;
  background: url("../img/index-drum.png") no-repeat center;
  background-size: 100% 100%;
}
#index .drum .lots-btn {
  position: absolute;
  right: 0.3rem;
  top: calc(50% - 1.25rem);
}
#index .drum .lots-btn span {
  font-size: 0.28rem;
  color: #C70529;
  font-weight: 600;
  display: block;
  height: 0.55rem;
  text-align: center;
  line-height: 0.55rem;
  width: 0.55rem;
  background: #FFDFBA;
  border-radius: 50%;
  margin: -0.15rem 0;
  border: 2px solid #FFC04F;
  position: relative;
}
#index .drum .lots-btn span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: attr(data-txt);
  border-radius: 50%;
  background: #FFDFBA;
  z-index: 6;
}
#index .drum .my-lots section {
  width: 6.88rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../img/body-bg.png) #C70529 repeat-y;
  background-size: 100% auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 0.1rem;
  padding: 0 0.6rem;
  box-sizing: border-box;
}
#index .drum .my-lots section .lots-title {
  text-align: center;
  margin: 0.3rem auto 0.1rem;
}
#index .drum .my-lots section .lots-title span {
  font-size: 0.35rem;
  color: #C70529;
  font-weight: 600;
  display: inline-block;
  height: 0.8rem;
  line-height: 0.78rem;
  width: 0.8rem;
  background: #FFDFBA;
  border-radius: 50%;
  margin: 0 -0.15rem;
  border: 2px solid #FFC04F;
  position: relative;
}
#index .drum .my-lots section .lots-title span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: attr(data-txt);
  border-radius: 50%;
  background: #FFDFBA;
  z-index: 6;
}
#index .drum .my-lots section .list-title {
  margin-bottom: 0.15rem;
}
#index .drum .my-lots section .list-title b {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: 0.3rem;
  letter-spacing: 1px;
  color: white;
  font-weight: 600;
}
#index .drum .my-lots section .list-title b:nth-of-type(1) {
  border-right: 1px solid #F5B8A0;
  box-sizing: border-box;
}
#index .drum .my-lots section ul {
  max-height: 6.25rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#index .drum .my-lots section ul li {
  border-top: 1px solid #F08F48;
  box-sizing: border-box;
  line-height: 0.5rem;
}
#index .drum .my-lots section ul li span,
#index .drum .my-lots section ul li b {
  display: inline-block;
  width: 49%;
  text-align: center;
  line-height: 0.6rem;
  font-size: 0.3rem;
  color: white;
  vertical-align: middle;
}
#index .drum .my-lots section ul li span img,
#index .drum .my-lots section ul li b img {
  max-height: 0.46rem;
  display: block;
  margin: 0 auto;
}
#index .drum .my-lots section ul li:nth-last-of-type(1) {
  border-bottom: 1px solid #F08F48;
}
#index .drum .my-lots section p {
  text-align: center;
  color: white;
  font-size: 0.26rem;
  margin-top: 0.2rem;
}
#index .drum .my-lots section p b {
  font-size: 0.32rem;
  color: #FFD53F;
  margin: 0 2px;
}
#index .drum .my-lots section .draw-btn {
  width: 4.9rem;
  height: 1.6rem;
  background: url("../img/btn-bg.png") no-repeat;
  background-size: 100% auto;
  color: #C70529;
  margin: 0 auto;
  text-align: center;
  line-height: 1.65rem;
  font-size: 0.4rem;
  font-weight: 800;
  letter-spacing: 2px;
}
#index .drum .my-lots section .cancel {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  display: inline-block;
  width: 0.45rem;
  height: 0.45rem;
  background: url("../img/cancel-icon.png") no-repeat;
  background-size: 100% 100%;
}
#index .drum2 {
  display: none;
  margin-top: 3rem;
}
#index .drum2 .drum-img2 {
  width: 3.6rem;
  height: 6.2rem;
  margin: 0 auto;
  background: url("../img/drum.png") no-repeat center;
  background-size: 100% 100%;
  animation: sharkDrum 0.6s linear infinite;
  -webkit-transform-origin: center bottom;
  transform-origin: center center;
}
@keyframes sharkDrum {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, -5px) rotate(15deg);
  }
  75% {
    transform: translate(-5px, -5px) rotate(-15deg);
  }
}
#index .drum2 p {
  text-align: center;
  color: white;
  font-size: 0.3rem;
  letter-spacing: 2px;
  margin-top: 0.5rem;
}
#index .drum2 p span {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 3px;
  margin: 0 3px;
  border-radius: 50%;
  background: white;
}
#index .drum2 p span:nth-of-type(1) {
  animation: loading 1s 0.2s linear infinite;
}
#index .drum2 p span:nth-of-type(2) {
  animation: loading 1s 0.4s linear infinite;
}
#index .drum2 p span:nth-of-type(3) {
  animation: loading 1s 0.8s linear infinite;
}
@keyframes loading {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  30% {
    transform: scale(2);
  }
}
#index .extract-btn {
  width: 4.9rem;
  height: 1.8rem;
  background: url("../img/btn-bg.png") no-repeat;
  background-size: 100% 100%;
  color: #C70529;
  margin: 0 auto;
  text-align: center;
  line-height: 1.65rem;
  font-size: 0.4rem;
  font-weight: 700;
  letter-spacing: 2px;
}
#index .extract-btn i {
  vertical-align: middle;
  display: inline-block;
  margin: 0 5px 0 2px;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #C70529;
  position: relative;
}
#index .extract-btn i:before {
  content: "";
  position: absolute;
  left: 0.075rem;
  top: 0.075rem;
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 50%;
  background: url("../img/shark-icon.png") center no-repeat;
  background-size: 0.35rem 0.35rem;
  animation: shark 1.5s linear infinite;
}
@keyframes shark {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(0px, 0px) rotate(20deg);
  }
  50% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(0px, 0px) rotate(-15deg);
  }
  80% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1.1);
  }
}
#index .prize section {
  width: 6.25rem;
  height: 5.69rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../img/prize-box.png) no-repeat;
  background-size: 100% 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#index .prize section > div {
  font-size: 0.28rem;
  color: #FF9F3D;
  padding-top: 3.3rem;
  box-sizing: border-box;
  text-align: center;
}
#index .prize section > div b {
  color: #DD480A;
  font-size: 0.42rem;
  font-weight: 800;
  display: block;
}
#index .prize section > div span {
  color: #DD480A;
  font-size: 0.28rem;
  font-weight: 600;
}
#index .prize section > div p {
  font-size: 0.28rem;
  margin-top: 0.45rem;
}
#index .prize section .cancel {
  position: absolute;
  left: calc(50% - .225rem);
  top: calc(100% + .4rem);
  display: inline-block;
  width: 0.45rem;
  height: 0.45rem;
  background: url("../img/cancel-icon.png") no-repeat;
  background-size: 100% 100%;
}
#lots {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#lots .my-goodLot {
  padding-top: 0.3rem;
  box-sizing: border-box;
  background: url(../img/body-bg.png) #C70529 repeat-y;
  background-size: 100% auto;
  height: 100vh;
}
#lots .my-goodLot .lot-txt {
  text-align: center;
  color: white;
  line-height: 0.65rem;
}
#lots .my-goodLot .lot-txt p:nth-of-type(1) {
  font-size: 0.44rem;
}
#lots .my-goodLot .lot-txt p:nth-of-type(1) b {
  color: #FFD02A;
}
#lots .my-goodLot .lot-txt p:nth-of-type(2) {
  font-size: 0.3rem;
  color: #FFD02A;
}
#lots .my-goodLot .lot-img {
  background: url("../img/light.png") center no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  overflow: hidden;
}
#lots .my-goodLot .lot-img .img {
  height: 10rem;
  margin: 0 auto;
}
#lots .my-goodLot .lot-img .img.up {
  animation: up 0.8s linear;
}
@keyframes up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
#lots .my-goodLot .lot-img .rat {
  background: url("../img/lot-rat.png") center no-repeat;
  background-size: auto 100%;
}
#lots .my-goodLot .lot-img .cow {
  background: url("../img/lot-cow.png") center no-repeat;
  background-size: auto 100%;
}
#lots .my-goodLot .lot-img .tigger {
  background: url("../img/lot-tigger.png") center no-repeat;
  background-size: auto 100%;
}
#lots .my-goodLot .lot-img .rabbit {
  background: url("../img/lot-rabbit.png") center no-repeat;
  background-size: auto 100%;
}
#lots .my-goodLot .lot-img .dragon {
  background: url("../img/lot-dragon.png") center no-repeat;
  background-size: auto 100%;
}
#lots .my-goodLot .lot-img .snake {
  background: url("../img/lot-snake.png") center no-repeat;
  background-size: auto 100%;
}
#lots .my-goodLot .lot-img .horse {
  background: url("../img/lot-horse.png") center no-repeat;
  background-size: auto 100%;
}
#lots .my-goodLot .lot-img .sheep {
  background: url("../img/lot-sheep.png") center no-repeat;
  background-size: auto 100%;
}
#lots .my-goodLot .lot-img .monkey {
  background: url("../img/lot-monkey.png") center no-repeat;
  background-size: auto 100%;
}
#lots .my-goodLot .lot-img .chicken {
  background: url("../img/lot-chicken.png") center no-repeat;
  background-size: auto 100%;
}
#lots .my-goodLot .lot-img .dog {
  background: url("../img/lot-dog.png") center no-repeat;
  background-size: auto 100%;
}
#lots .my-goodLot .lot-img .pig {
  background: url("../img/lot-pig.png") center no-repeat;
  background-size: auto 100%;
}
#lots .bottom-cloud {
  height: 3rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  background: url("../img/bottom-cloud.png") no-repeat;
  background-size: 100% 100%;
}
#lots .btns {
  padding: 0 0.3rem 0.55rem;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 5;
}
#lots .btns div {
  height: 0.9rem;
  line-height: 0.88rem;
  background: url("../img/btn-bg2.png") no-repeat;
  background-size: 100% 100%;
  margin: 0 0.15rem;
  text-align: center;
  width: calc(50% - .3rem);
  color: #C70529;
  font-size: 0.3rem;
  font-weight: 600;
  box-sizing: border-box;
  float: left;
}
#lots aside {
  display: none;
  text-align: center;
  font-size: 0.29rem;
  position: absolute;
  width: 100%;
  bottom: 0.7rem;
  color: #C70529;
  z-index: 244;
}
